body {
    display:flex
}

.page-content {
    flex: 6
}

.side-margin {
    flex: 1
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-container {
    display: flex;
    gap: 16px;
    padding: 0;
    list-style-type: none;
}

.hero-container {
    display: flex;
    margin: 100px 0;
}

.hero {
    flex: 1;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 650px;
    background: lightgray;
    flex: none;
}
